<!DOCTYPE html>
<html>
  <head>
    <title>Innovations</title>
    <!--[if lt IE 9]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="js/jquery.tagcanvas.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script type="text/javascript">
         initcanvas();
    </script>
  </head>
  <body>
    <h1>Innovation Idea Inventory</h1>
    <div id="myCanvasContainer" style="width: 500px; margin: 0 auto;">
      <canvas width="550" height="550" id="myCanvas">

      </canvas>
    </div>
    <div id="tags">
      <ul id="links">
       
      </ul>
    </div>
  </body>
</html>

